[Unit]
Description=hostname capture service
Conflicts=shutdown.target reboot.target halt.target

[Service]
TimeoutStartSec=0
TimeoutStopSec=30
Restart=always
RestartSec=10

Environment="CAPTURE_FORMAT=%%Y%%m%%d-%%H%%M%%S"
ExecStart=/usr/sbin/tcpdump \
	-i eth0 -s 65535 \
	'not net 10.4.2.0/24' \
	-w '/mnt/external/pcaps/pcaps/siabmgrHOSTNAME-${CAPTURE_FORMAT}.pcap' \
	-G 300
NotifyAccess=all

[Install]
WantedBy=multi-user.target