[Unit]
Description=ryu manager
Conflicts=shutdown.target reboot.target halt.target

[Service]
TimeoutStartSec=0
TimeoutStopSec=30
Restart=always
RestartSec=10

ExecStart=/usr/local/bin/ryu-manager ryu.app.simple_switch_13 ryu.app.ofctl_rest
NotifyAccess=all

[Install]
WantedBy=multi-user.target
